
<div class="col-md-12 row">
  <div class="offset-md-3 col-md-6">
    <h2>Register Yourself</h2>
    <form class="signupContent" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_firstname.valid }">
            <label for="user_firstname">First Name</label>
            <input type="text" class="form-control" name="user_firstname" [(ngModel)]="model.user_firstname" #user_firstname="ngModel" required />
            <div *ngIf="f.submitted && !user_firstname.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_lastname.valid }">
            <label for="user_lastname">Last Name</label>
            <input type="text" class="form-control" name="user_lastname" [(ngModel)]="model.user_lastname" #user_lastname="ngModel" required />
            <div *ngIf="f.submitted && !user_lastname.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_username.valid }">
            <label for="user_username">Username</label>
            <input type="text" class="form-control" name="user_username" [(ngModel)]="model.user_username" #user_username="ngModel" required />
            <div *ngIf="f.submitted && !user_username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_email.valid }">
            <label for="user_email">Email</label>
            <input type="text" class="form-control" name="user_email" [(ngModel)]="model.user_email" #user_email="ngModel" required />
            <div *ngIf="f.submitted && !user_email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_password.valid }">
            <label for="user_password">Password</label>
            <input type="password" class="form-control" name="user_password" [(ngModel)]="model.user_password" #user_password="ngModel" required />
            <div *ngIf="f.submitted && !user_password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
  </div>
</div>
