<p style="color:red;">
  home works!
</p>

<div>
	<div class="panel panel-default">
		<div class="col-md-12 panel-heading">
			<div class="col-md-4">Year 2017-2018</div>
			<div class="col-md-5" style="border-right: 2px solid #ddd">
				<ul class="nav nav-tabs pull-right">
				  <li class="active"><i class="fa fa-bell-o" aria-hidden="true"></i><a href="#">Aletrs</a></li>
				  <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">Messages</a></li>
				  <li><i class="fa fa-question-circle-o" aria-hidden="true"></i><a href="#">Need Help</a></li>
				</ul>
			</div>
			<div class="col-md-3 text-right"><b>Hello, {{username}}</b>
				<div class="pull-right">
					<button type="submit" [disabled]="loading" class="btn btn-primary" (click) = "logout()">Log Out</button>
					<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			</div>
			</div>
		</div>
  		<div class="col-md-3" style="height: -webkit-fill-available; border-right: 1px solid #ddd">
  			Left Pannel
  		</div>
  		<div class="col-md-9" style="height: -webkit-fill-available;">
				Right Pannel
				
					



  		</div>
	</div>
	
</div>