<div class="loginPageContent row col-md-12" *ngIf="!signIn">
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="background-color: darkcyan; height: -webkit-fill-available; background-image: url(../assets/image_1.jpg);">
	  <h1 style="text-align:center; color: white; font-family: -webkit-body;"> Welcome to {{ title }} ! </h1>
	</div>

	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top:10%; font-family: -webkit-body;">
	    <h2>Login</h2>
	    <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loginContent" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
			<div class="form-group" *ngIf="userExistsMessage">
	            <span class="floatRight text-danger">{{userExistsMessage}}</span>
	        </div>
			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_username.valid }">
	            <label for="user_username">Username</label>
	            <input type="text" class="form-control" name="user_username" placeholder="Enter Username" [(ngModel)]="model.user_username" #user_username="ngModel" required />
	            <div *ngIf="f.submitted && !user_username.valid" class="help-block">Username is required</div>
	        </div>
	        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_password.valid }">
	            <label for="user_password">Password</label>
	            <input type="password" class="form-control" name="user_password" placeholder="Enter Password" [(ngModel)]="model.user_password" #user_password="ngModel" required />
	            <div *ngIf="f.submitted && !user_password.valid" class="help-block">Password is required</div>
	        </div>
	        <div class="form-group">
	            <!--<span class="floatLeft"><input type="checkbox" checked="checked"> Remember me </span><br>-->
				<span class="floatRight"><a href="#">Forgot password?</a></span>
			</div>
	        <div class="pull-right">
				<a [routerLink]="['/signup']" class="btn btn-link">Register</a>
	            <button type="submit" [disabled]="loading" class="btn btn-primary">Log In</button>
				<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			</div>
	    </form>
	</div>

</div>